<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>测试微信api的</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />
  </head>
  <body>
    这个页面主要用来测试微信api的，哈哈哈哈哈哈
  </body>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script>
    wx.config({
        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: 'wx3f0948f13a767b50', // 必填，公众号的唯一标识
        timestamp: '<%=ret.timestamp%>', // 必填，生成签名的时间戳
        nonceStr: '<%=ret.nonceStr%>', // 必填，生成签名的随机串
        signature: '<%=ret.signature%>',// 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo','onMenuShareQZone'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.ready(function(){
      wx.onMenuShareTimeline({
        title: '晓池', // 分享标题
        link: 'http://wap.3g.cn', // 分享链接
        imgUrl: 'https://lh3.googleusercontent.com/QAkEWPtniMQEwn_r5rpUcSWLyws2QhfmDXtnAJslGZe00OO_LdkFpgkjXFWdZNn0vJEvx5pM9C8=w5120-h3200-rw-no', // 分享图标
        success: function () {
          alert("成功");
        },
        cancel: function () {
            // 用户取消分享后执行的回调函数
        }
     });
     wx.onMenuShareAppMessage({
         title: '分享给朋友的', // 分享标题
         desc: '这是分享给朋友的描述', // 分享描述
         link: 'http://wap.3g.cn', //
         imgUrl: 'https://lh3.googleusercontent.com/QAkEWPtniMQEwn_r5rpUcSWLyws2QhfmDXtnAJslGZe00OO_LdkFpgkjXFWdZNn0vJEvx5pM9C8=w5120-h3200-rw-no', // 分享图标
         type: '', // 分享类型,music、video或link，不填默认为link
         dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
         success: function () {
             // 用户确认分享后执行的回调函数
             alert('分享成功');
         },
         cancel: function () {
             // 用户取消分享后执行的回调函数
         }
     });
    })
  </script>
</html>
